body {
    background-color: #121212;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    background-image: url(Imagens/fundo_banda.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* css principais, que tem em todas as principais paginas */
#logo-bf {
    width: 296px;
    height: 73.1px;
}

#logo_github{
    width: 50px;
    height: 50px;
}
nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.6s ease-in-out;
}

nav a:hover {
    color: #FFF000;
    transition: 0.1s ease-in-out;
    
}

nav {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 28%);

}

nav img {
    filter: invert(0%);
    transition: 0.5s ease-in-out;
}

nav img:hover {
    filter: invert(100%);
    transition: 0.3s ease-in-out;
}

nav ul {
    list-style-type: none;
    padding: 30px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
}

nav li {
    margin-inline: 90px;

}

#banda{
    color: #FFF000;
}

footer {
    text-align: center;
}

#logo-sai {
    width: 40px;
    height: 60px;
}

/* fim das css principais */

.menu{
    text-align: center;
}

#tyler_cueca{
    position: absolute;
    top: 340px;
    left: 720px;
    text-align: center;
    transition: 0.7s ease-in-out;
}

#tyler_cueca:hover{
    transition: 0.3s ease-in-out;
    transform: translateY(-20px) scale(104%) ;

}

#josh_cueca{
    position: absolute;
    top: 320px;
    left: 977px;
    transition: 0.7s ease-in-out;
}

#josh_cueca:hover{
    transition: 0.3s ease-in-out;
    transform: translateY(-20px) scale(104%) ;
}

.selecao:hover > :not(:hover){
    filter: saturate(0);
    transform: scale(0.9)
}