body {
    background-color: #121212;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    background-image: url(Imagens/fundo_discografia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

iframe {
    display: none;
    margin: 0px 10px 0px 10px;
}
/* CLASSE COMEÇA AQUI */

.albuns{
    text-align: center;
}

.selecao{
    display: flex;
    justify-content: center;
}


input:checked + .conteudo_ativado iframe{
    display: block;
}

input[type="checkbox"]  {
    display: none;
 }
 
/* ID COMEÇA AQUI*/
#albumCovers {
    width: 230px;
    height: 230px;
    margin: 50px 10px 0px 10px;
    padding: 0px;
    border-radius: 10px;
    transition: 0.6s ease-in-out;
}

#albumCovers:hover{
    transition: 0.3s ease-in-out;
    transform: translateY(-10px);
    cursor: pointer;
}



