body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    background: rgb(176,179,190);
    background: radial-gradient(circle, rgba(176,179,190,1) 0%, rgba(80,86,89,1) 100%);
    /* background-image: url(Imagens/fundo_discografia.jpg); */
    /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
}

iframe {
    display: none;
    margin: 20px 0px 0px 0px;
    padding: 4px;
    
}

/* CLASSE COMEÇA AQUI */


.selecao{
    display: flex;
    justify-content: center;
}

input[type="checkbox"]  {
    display: none;
 }
 
input:checked + .conteudo_ativado iframe{
    display: block;

}

/* ID COMEÇA AQUI*/
#albumCovers {
    width: 230px;
    height: 230px;
    margin: 40px 70px 0px 70px;
    padding: 0px;
    border-radius: 10px;
    transition: 0.6s ease-in-out;
}

#albumCovers:hover{
    transition: 0.3s ease-in-out;
    transform: translateY(-30px);
    cursor: pointer;
}



