body {
    background-color: #121212;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    background-image: url(Imagens/fundo_historia.png);
    background-repeat: no-repeat;
    background-size: cover;
}