/* css principais, que tem em todas as principais paginas */
#logo-bf {
    scale: 0.6;
    filter: invert(100%) drop-shadow(5px 5px 1px rgb(0, 0, 0));
    margin-left: 0px;
    margin-right: 60px;
    
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.6s ease-in-out;
}

nav a:hover {
    color: #FFF000;
    transition: 0.1s ease-in-out;
    
}

nav ul {
    font-size: 30px;
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
   margin-inline: 30px;
}

footer {
    text-align: center;
}

footer img {
    filter: invert(0%);
    transition: 0.5s ease-in-out;
}

#logo_github{
    width: 50px;
    height: 50px;
}

#logo-sai {
    width: 40px;
    height: 60px;
}

#icons {
    width: 20px;
    height: 20px;
}

/* fim das css principais */