body {
    background-color: #121212;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    /* background-image: url(Imagens/8c1a4061-bddc-4baa-b841-66f1e9b2da55.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
}


nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.6s ease-in-out;
}

nav a:hover{
    color: #FFF000;
    transition: 0.1s ease-in-out;
}

nav {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 28%);
    
}
nav img{
    filter: invert(0%);
}

nav img:hover{
    filter: invert(100%);
}
nav ul {
    list-style-type: none;
    padding: 30px;
    margin: 0px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-decoration: none;
}

nav li {
    opacity: 1;
    margin-inline: 100px;
    
}

footer {
    text-align: center;
}

#insta {
    text-decoration: none;
    color: #FFF000;
}

#insta:hover{
    color: #000000;
}

#imgTransparentes {
    justify-content: center;
    opacity: 100%;
    transition: 0.5s ease-in-out;
    filter: saturate(0%);
}

#imgTransparentes:hover {
    opacity: 100%;
    transition: 0.1s ease-in-out;
    filter: saturate(100%);
}

#logo-bf {
    padding: 15px 10px;
    position: absolute;
    top: 10x;
    left: 20px;
    width: 296px;
    height: 73.1px;
}

#logo-sai {
    width: 40px;
    height: 60px;
}

.centerImages img {
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 30px;
    padding: 0px;
    box-shadow: 20px 20px 30px rgb(0, 0, 0);
}

.centerImages ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}